<%= form_with(model: tenant, local: true) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>
      <ul>
        <% tenant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :home_district %>
    <%= form.text_field :home_district %>
  </div>

  <div class="field">
    <%= form.label :village %>
    <%= form.text_field :village %>
  </div>

  <div class="field">
    <%= form.label :next_of_kin %>
    <%= form.text_field :next_of_kin %>
  </div>

  <div class="field">
    <%= form.label :estate_id %>
    <%= form.collection_select :estate_id, Estate.all, :id, :name, prompt: "Select an Estate" %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.collection_select :room_id, Room.all, :id, :room_number, prompt: "Select a Room" %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
