<h1 class="header">Tenants</h1>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Home District</th>
      <th>Village</th>
      <th>Next of Kin</th>
      <th>Room</th>
      <th>Actions</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% if @tenants.present? %>
      <% @tenants.each do |tenant| %>
        <tr>
          <td><%= tenant.full_name %></td>
          <td><%= tenant.email %></td>
          <td><%= tenant.home_district %></td>
          <td><%= tenant.village %></td>
          <td><%= tenant.next_of_kin %></td>
          <td><%= tenant.room.room_number %></td>
          <td><%= link_to 'Show', tenant, class: 'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_tenant_path(tenant), class: 'btn btn-warning' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">No tenants found for this estate.</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Tenant', new_tenant_path, class: "btn btn-primary" %>
