<h1>Tenant Details</h1>
<p>
  <strong>Full Name:</strong>
  <%= @tenant.full_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>
<p>
  <strong>Home District:</strong>
  <%= @tenant.home_district %>
</p>
<p>
  <strong>Village:</strong>
  <%= @tenant.village %>
</p>
<p>
  <strong>Next of Kin:</strong>
  <%= @tenant.next_of_kin %>
</p>
<p>
  <strong>Room:</strong>
  <%= @tenant.room.room_number %>
</p>
<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path, class: 'btn btn-primary %>
