<h1>Estates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Owner</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= estate.name%></td>
        <td><%= estate.location %></td>
        <td><%= estate.owner %></td>
        <td><%= estate.description %></td>

          <td><%= link_to 'Detials', estate_path(estate), class: "btn btn-info" %>  </td>
          <td><%= link_to 'Edit', edit_estate_path(estate), class: "btn btn-warning" %>  </td>
          <td><%= link_to 'Delete', estate_path(estate), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>  </td>
 <td><%= link_to 'View Tenants', tenants_estate_path(estate), class:"btn btn-primary" %> </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @estates %>
<%= link_to 'New Estate', new_estate_path, class: 'btn btn-primary' %>
