<h1>Tenants for <%= @estate.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Home District</th>
      <th>Village</th>
      <th>Next of Kin</th>
      <th>Room Number</th>
      <th>Monthly Rent</th>
      <th>Current Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.full_name %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.home_district %></td>
        <td><%= tenant.village %></td>
        <td><%= tenant.next_of_kin %></td>
        <td><%= tenant.room.room_number %></td>
        
        <% latest_payment = tenant.payments.order(created_at: :desc).first %>
        <td><%= tenant.leases.order(created_at: :desc).first.try(:monthly_rent) %></td>
        <td><%= latest_payment.try(:balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tenants %>
