<h1 class="header">Payments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tenant Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Bal</th>
      <th>Months paid</th>
      <th>Bal Forward</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.tenant.full_name %></td>
        <td><%= payment.payment_date %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.balance %></td>
        <td><%= payment.months_covered %></td>
        <td><%= payment.balance_carried_forward %></td>
        <td><%= link_to 'Show', payment, class: 'btn btn-info'  %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment), class: 'btn btn-warning'  %></td>
        <td><%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Payment', new_payment_path, class: 'btn btn-success' %>
