<h1 class="header">Payments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Lease</th>
      <th>Payment Date</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Months Covered</th>
      <th>Balance Carried Forward</th>
      <th>Amount Due Next Month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.lease.lease_description %></td>
        <td><%= payment.payment_date %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.balance %></td>
        <td><%= payment.months_covered %></td>
        <td><%= payment.balance_carried_forward %></td>
        <td><%= payment.amount_due_next_month %></td>
        <td><%= link_to 'Show', payment, class: 'btn btn-info'  %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment), class: 'btn btn-warning'  %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Payment', new_payment_path, class: 'btn btn-primary' %>
