<h1 class="header">Room Details</h1>
<div class="show_container">
<p>
  <strong>Room Number:</strong>
  <%= @room.room_number %>
</p>
<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>RoomType:</strong>
  <%= @room.room_type.status_name%>
</p>

<p>
  <strong>Estate:</strong>
  <%= @room.estate.name %>
</p>
<%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-warning' %> |
<%= link_to 'Back', rooms_path, class: 'btn btn-primary' %>
</div>