<div id="<%= dom_id lease %>">
  <p>
    <strong>Tenant:</strong>
    <%= lease.tenant_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= lease.room_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= lease.start_date %>
  </p>

  <p>
    <strong>Monthly rent:</strong>
    <%= lease.monthly_rent %>
  </p>

</div>
