<!DOCTYPE html>
<html>
<head>
  <title class="header">Tenant Report</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap CSS via CDN -->
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity: 'sha384-pzjw8f+ua7Kw1TIqoaFfTAU6auU6j8g9A1f3KfqM1fOmC0CBsnS3kz4p1kzpcc45', crossorigin: 'anonymous' %>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container mt-4">
<h1 class="header">Tenant Reports</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Home District</th>
      <th>Village</th>
      <th>Next of Kin</th>
      <th>Room Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.full_name %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.home_district %></td>
        <td><%= tenant.village %></td>
        <td><%= tenant.next_of_kin %></td>
        <td><%= tenant.room.room_number if tenant.room %></td>
        <td><%= link_to 'View Report', tenant_report_path(tenant), class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>
</html>