<!DOCTYPE html>
<html>
<head>
  <title>Estate Management System</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <!--<div class="container">
     <div class="userInfo">
       <div class="avatar">
        <div class="avatarPicture">
          <img src="/assets/gra.jpeg" alt="Description of the image">
        </div>
        <p>Graciano Henrique</p>
       </div>
        <ul>
          <li>Change Password</li>
          <li>Logout</li>
        </ul>
    </div> -->


  <!-- <div class="sideBar">
    <header>
      <a href="/" class="navbar-brand">E.M System</a>
      <button class="navbar-toggler" onclick="toggleNavbar()">&#9776;</button>
    </header>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to 'Dashboard', root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Estates', estates_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Room Types', room_types_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Rooms', rooms_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Tenants', tenants_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Leases', leases_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Payments', payments_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Reports', reports_path, class: 'nav-link' %></li>
      </ul>
    </nav>
   </div>
     <main class ="mainArea">
    </main>      
  </div> -->
  <%= yield %>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <footer>
    <div class="footer-content">
      <p>“The best way to predict the future is to create it.”</p>
      <p>&copy; <%= Time.now.year %> Estate Management System. All rights reserved.</p>
    </div>
  </footer>
  
  <script>
    function toggleNavbar() {
      const nav = document.querySelector('.navbar-nav');
      nav.classList.toggle('active');
    }

    document.querySelectorAll('.nav-item').forEach(element => { 
  element.addEventListener("click",(el)=>{
    window.location.href=el.target.firstChild.href;
  });
});

document.querySelector(".userInfo").addEventListener("click",()=>{
  document.querySelector(".userInfo").classList.add("userInfoOpen");
});

  document.addEventListener("click", (event) => {
    if (!event.target.closest(".userInfo")) {
        document.querySelector(".userInfo").classList.remove("userInfoOpen");
    }
});

  
  </script>
</body>
</html>
