<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>
<body>
<div class="container">
  <h1>Welcome to Our Website</h1>
  <button class="btn">Get Started</button>
  <div class="recent-estates">
    <h2>Recent Estates</h2>
    <% @recent_estates.each do |estate| %>
      <div class="estate">
        <%= link_to estate.name, estate_path(estate) %>
      </div>
    <% end %>
  </div>
</div>
<div class="flashlight"></div>
</body>
</html>
